body {
    background-color: #fcf9f9;
    background-position: center;
    background-size: cover;
}

.heading {
    font-family: 'serif', cursive;
    margin: 35px auto 20px;
}

hr {
    border-top: 2px solid #800880;
    width: 40%;
    margin-bottom: 55px;
}

.main {
    width: 50vw;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #d6d4d4;
    color: #800880;
}

label {
    font-size: 20px;
}

.btn {
    width: 200px;
}

#finalAmount {
    font-family: 'serif', cursive;
    display: none;
    margin: 50px auto;
}

#finalAmount h2 {
    font-size: 50px;
}

.finalValue {
    font-family: 'Amiri', serif;
}

@media (max-width: 768px) {
    hr {
        width: 60%;
    }

    .main {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .heading {
        font-size: 60px;
    }

    hr {
        width: 75%;
    }

    #finalAmount h2,
    .finalValue {
        font-size: 40px;
    }
}
