*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.mainContainer{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #9fd1ea, #605159);
  padding: 10px;
}
#header{
    background: #d1cfcf;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    color: #A020F0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 6px 5px 5px;
    font-size: 15px;
    transition: 0.2s;

  }


  




  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  

  
  
   
  
  
  
#header h1{
    font-style: oblique;
}
body {
    font-family: Arial, sans-serif;
display: flex;
justify-content: center;
margin: 0; 
}
  #taskInput {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #0c0b0b;
    padding: 5px;
  }
  #container button {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  .taskItem {
    margin-bottom: 10px; 
  }
  .taskItem input[type="checkbox"] {
    margin-right: 10px;
  }
  .taskItem button {
    margin-left: 10px;
    border-radius: 5px;
  }

  #container h3{
    display: flex;
    justify-content: center;
  }

#container {
  width:100%; 
    margin-top: 20px;/
}


        
  








  