.buttons { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
    
} 

.buttons button{
    padding: 15px 10px; 
    background-color: #f0f0f0; 
    font-size: 18px; 
    cursor: pointer;
    border: none; 
    transition: background-color 0.3s;
}


.buttons button:hover { 
    color: #834;
}

.calculator{
    border: 1px solid #ccc;
    margin: 50px auto;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}